/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos do corpo do documento */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #262626;
    color: #e0e0e0;
    /* Alterado o texto para um cinza mais claro */
    margin: 0;
}

h2 {
    text-align: center;
    color: #e0e0e0;
    /* Alterado o texto para um cinza mais claro */
}

h3 {
    text-align: center;
    color: #e0e0e0;
    /* Alterado o texto para um cinza mais claro */
}

/* Estilos do cabeçalho e da navegação */
header,
nav {
    font-weight: bold;
    background-color: #202e3c;

    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adicionado uma sombra mais suave */
}

/* Estilos para links de navegação */
nav a {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 18px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    flex: 0;
}

input {
    flex: 2;
    margin-right: 10px;
}

button {
    flex: 1;
}

/* Estilos para botões e campos de arquivo */
input[type="file"],
button {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin: 2px;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #2980b9;
}

input[type="file"]:hover,
button:hover {
    background-color: #2c3e50;
}

#meuBotao {
    background-color: #2980b9;
    color: #fff;
}

#loading {
    font-size: 24px;
    text-align: center;
}

/* Estilos do contêiner principal */
.container {
    max-width: 850px;
    margin: 20px auto 20px;
    padding: 20px;
    background-color: #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ajustado o tamanho e a opacidade da sombra */
}

/* Estilos para resultados */
#results {
    margin-top: 30px;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 5px;
    background-color: #34495e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adicionado uma sombra mais suave */
}

/* Estilos para a tabela dentro da div de resultados */
#resultsDiv table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* Estilos para as células (th, td) da tabela dentro da div de resultados */
#resultsDiv th,
#resultsDiv td {
    padding: 8px;
    border-bottom: 1px solid #2980b9;
    line-height: 1.2;
}

/* Estilos para o cabeçalho (th) da tabela dentro da div de resultados */
#resultsDiv th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.page {
    color: #2980b9;
    text-decoration: none;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page:not(:last-child) {
    margin-right: 5px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }

    header,
    nav {
        padding: 10px;
    }

    .container {
        padding: 10px;
        max-width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    #results {
        padding: 10px;
    }
}

/* Estilos para o pop-up no canto direito -->*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    /* Adicionado uma sombra mais suave */
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.popup h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.popup p {
    margin-bottom: 10px;
}

.popup a {
    color: #48f;
    text-decoration: underline;
    cursor: pointer;
}

.popup a:hover {
    color: #22a;
}

.close-btn {
    cursor: pointer;
    background-color: #48f;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.cookie-btn {
    cursor: pointer;
    background-color: #2980b9;
    color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.cookie-btn:hover {
    background-color: #2c3e50;
    color: #fff;
}
