/* styles.css */
/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos do corpo do documento */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

/* Estilos do contêiner principal */
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos do conteúdo da página */
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos do cabeçalho principal */

H1,
h3 {
    text-align: center;
    color: #eee;
    padding-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos das etiquetas */
label {
    font-weight: bold;
    color: #bbb;
    margin-bottom: 5px;
}

/* Estilos para botões e campos de arquivo */
input[type="file"],
button {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

/* Estilos de hover para botões */
button:hover {
    background-color: #007acc;
}

/* Estilos para os resultados */
#results {
    margin-top: 30px;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Remoção de estilos desnecessários para input[type="file"] */
input[type="file"] {
    font-weight: bold;
    appearance: none;
    background-color: initial;
    cursor: pointer;
    color: inherit;
    text-overflow: ellipsis;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    h1 {
        text-align: center;
        color: #eee;
        font-size: 24px;
        padding-top: 40px;
        margin-bottom: 10px;
    }

    header,
    nav {
        padding: 10px;
    }

    nav a {
        font-size: 18px;
        margin: 8px;
    }

    button {
        font-size: 14px;
    }

    #resultsDiv {
        margin-top: 20px;
        padding: 8px;
        font-size: 14px;
    }

    #resultsDiv table {
        margin-bottom: 8px;
    }

    #resultsDiv th,
    #resultsDiv td {
        padding: 6px;
    }

    #resultsDiv th {
        font-size: 16px;
    }

    .footer {
        padding: 10px;
    }

    .footer a {
        font-size: 18px;
        margin: 8px;
    }
}

/* ... fim do codigo para dispositivos moveis ... */

/* Estilos do cabeçalho e da navegação */
header,
nav {
    font-weight: bold;
    background-color: #2c3e50;
    /* Cor diferente */
    color: #eee;
    text-align: center;
    padding: 15px;
    position: fixed;
    /* Tornar o cabeçalho fixo */
    width: 100%;
    /* Ocupar a largura total da tela */
    z-index: 1000;
    /* Garantir que o cabeçalho esteja acima de outros elementos */
}

/* Estilos para links de navegação */
nav a {
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #fdfbfb;
    margin: 10px;
    font-size: 24px;
}

/* Estilizando botões de forma mais consistente */
button {
    background-color: #2c3e50;
    /* Cor diferente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
}

/* Estilos para a tela de carregamento */
#loading {
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

/* Estilos para a div de resultados */
#resultsDiv {
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
    font-size: 16px;
}

/* Estilos para a tabela dentro da div de resultados */
#resultsDiv table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* Estilos para as células (th, td) da tabela dentro da div de resultados */
#resultsDiv th,
#resultsDiv td {
    padding: 8px;
    border-bottom: 1px solid #555;
    line-height: 1.2;
}

/* Estilos para o cabeçalho (th) da tabela dentro da div de resultados */
#resultsDiv th {
    background-color: #444;
    color: #fff;
    font-weight: bold;
}

.page {
    color: #007acc;
    text-decoration: none;
    cursor: default;
}

.page:not(:last-child) {
    margin-right: 5px;
}

#resultsDiv table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* Estilos do rodapé */
.footer {
    font-weight: bold;
    background-color: #2c3e50;
    /* Cor diferente */
    color: #555;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    /* Manter o rodapé fixo */
    bottom: 0;
    /* Alinhar o rodapé à parte inferior da tela */
}

/* Estilos para links do rodapé */
.footer a {
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #fdfbfb;
    margin: 10px;
    font-size: 24px;
}
