/* styles.css */
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-content {
    display: flex;
    /* Tornar o conteúdo flexível */
    flex-direction: column;
    /* Alinhar os elementos verticalmente */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #2d8ef5;
}

#results {
    margin-top: 20px;
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: flex;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

/* styles.css */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #0074d9;
    text-align: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.footer {
    text-align: center;
    background-color: #0074d9;
    color: #fff;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
